div.task-list{
    width: 100%;
    height: 261px;
    display: block;
    clear: both;
    overflow-y: auto;
}
div.task-list .task{
    width: 100%;
    height: 50px;
    background: #f2f2f2;
    margin: 0 0 5px;
    padding: 15px;
    display: block;
    clear: both;
}
div.task-list .task .custom-checkbox{
    float: left;
}
div.task-list .task p{
    margin: 0px 10px;
    display: block;
    float: left;
    font-size: 12px;
    line-height: 20px;
}
div.task-list .task span{ margin: 1px 0px;
    font-weight: normal; }
div.task-list .task span{
    float: right;}